.Palette {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.Palette-colors {
  block-size: 90%;
}

.slider {
  inline-size: 340px;
  margin-block: 0;
  margin-inline: 10px;
  display: inline-block;
}

.Palette-footer {
  background-color: white;
  block-size: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}

.emoji {
  align-self: center;
  font-size: 1.25rem;
  margin-inline: 1rem;
  margin-block: 0;
}
